
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/dictionaries/Jón_Ingi.xml
*.xml
*.xml
